<div class="col-md-12">
    <div class="order-summary clearfix">
        <div class="section-title">
          <h3 class="title">Người môi giới</h3>
        </div>
        <table class="shopping-cart-table table" >
            <thead>
                <tr>
                    <th>Người dùng</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let broker of displayBrokers" >
                    <td class="thumb" *ngIf = "broker.profilePicture"><img src= {{broker.profilePicture}}   alt=""></td>
                    <td class="thumb" *ngIf = "!broker.profilePicture"><img src= "../assets/img/avatar.png"   alt=""></td>
                    <td class="details">
                        <a (click) = "navigateUserDetail(broker.facebookId)">{{broker.name ? broker.name : broker.facebookId}}</a>
                        <ul>
                            <li><span>FacebookID: {{broker.facebookId}}</span></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  
