<div class="col-md-12">
    <div class="order-summary clearfix">
        <div class="section-title">
          <h3 class="title">Người mua nhà</h3>
          <div class="sort-filter">
              <span class="text-uppercase" style="font-size: 14px; font-weight: bold;color: #30323A">Phân theo nhóm:</span>
              <select class="input" (change)="onChangeCluster($event.target.value)">
                      <option value="8">Tất cả</option>
                      <option value="0">Khách ít tương tác</option>
                      <option value="1">Khách hay inbox riêng</option>
                      <option value="2">Khách hay hỏi giả, hỏi thông tin phòng và inbox riêng</option>
                      <option value="3">Khách chủ yếu like các bài post bán nhà</option>
                      <option value="4">Khách hay hỏi giá và inbox riêng</option>
                      <option value="5">Khách hay inbox riêng và yêu cầu xem sổ hồng</option>
                      <option value="6">Khách tương tác bình luận nhiều</option>
                      <option value="7">Khách không tương tác</option>
              </select>
          </div>
        </div>
        <table class="shopping-cart-table table" >
            <thead>
                <tr>
                    <th>Người dùng</th>
                    <th></th>
                    <th class="text-center">Nhóm</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let buyer of displayBuyers" >
                    <td class="thumb" *ngIf = "buyer.profilePicture"><img src= {{buyer.profilePicture}}   alt=""></td>
                    <td class="thumb" *ngIf = "!buyer.profilePicture"><img src= "../assets/img/avatar.png"   alt=""></td>
                    <td class="details">
                        <a (click) = "navigateUserDetail(buyer.facebookId)">{{buyer.name ? buyer.name : buyer.facebookId}}</a>
                        <ul>
                            <li><span>FacebookID: {{buyer.facebookId}}</span></li>
                        </ul>
                    </td>
                    <td class="total text-center"><strong class="primary-color">{{buyer.cluster}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  
