<div class="col-md-12">
    <div class="order-summary clearfix">
        <div class="section-title">
          <h3 class="title">Người bán nhà</h3>
        </div>
        <table class="shopping-cart-table table">
            <thead>
                <tr>
                    <th>Người dùng</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let seller of displaySellers" (click) = "navigateUserDetail(seller.facebookId)">
                    <td class="thumb" *ngIf = "seller.profilePicture"><img src= {{seller.profilePicture}}   alt=""></td>
                    <td class="thumb" *ngIf = "!seller.profilePicture"><img src= "../assets/img/avatar.png"   alt=""></td>
                    <td class="details">
                        <a >{{seller.name ? seller.name : seller.facebookId}}</a>
                        <ul>
                            <li><span>FacebookID: {{seller.facebookId}}</span></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>  
  
