<div class="col-md-12">
  <div class="order-summary clearfix">
      <div class="section-title">
        <h3 class="title">Người cho thuê nhà</h3>
      </div>
      <table class="shopping-cart-table table">
          <thead>
              <tr>
                  <th>Người dùng</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let leaseHolder of displayHolders" (click) = "navigateUserDetail(leaseHolder.facebookId)">
                <td class="thumb" *ngIf = "leaseHolder.profilePicture"><img src= {{leaseHolder.profilePicture}}   alt=""></td>
                <td class="thumb" *ngIf = "!leaseHolder.profilePicture"><img src= "../assets/img/avatar.png"   alt=""></td>
                  <td class="details">
                      <a >{{leaseHolder.name}}</a>
                      <ul>
                          <li><span>FaceID: {{leaseHolder.facebookId}}</span></li>
                      </ul>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>  
