<!-- HEADER -->
<header>
  <!-- header -->
  <div id="header">
    <div class="container">
      <div class="pull-left">
        <!-- Logo -->
        <div class="header-logo">
          <p style="font-size: 40px"><span style="color: #F8694A">R</span>eal Estate <span style="color: #F8694A">C</span>ustomer</p>
        </div>
        <!-- /Logo -->

        <!-- Search -->
        <div class="header-search">
          <form>
              <input class="input search-input" type="text" placeholder="Nhập kí tự tìm kiếm" (input)="search($event.target.value)">
              <button class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- /Search -->
      </div>
    </div>
    <!-- header -->
  </div>
  <!-- container -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <!-- category nav -->
      <div class="category-nav">
          <span class="category-header">Khách hàng</span>
      </div>
      <!-- category nav -->
      <!-- menu nav -->
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li><a href="sellers">Người bán nhà</a></li>
          <li><a href="buyers">Người mua nhà</a></li>
          <li><a href="brokers">Người môi giới</a></li>
          <li><a href="leaseHolders">Người cho thuê nhà</a></li>
          <li><a href="renters">Người thuê nhà</a></li>
        </ul>
      </div>
      <!-- menu nav -->
    </div>
  </div>
  <!-- /container -->
</div>
	<!-- /NAVIGATION -->

  
<div id="home" class="container">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<!-- FOOTER -->
<footer id="footer" class="section section-grey">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <!-- footer copyright -->
        <div class="footer-copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
        <!-- /footer copyright -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</footer>
  <!-- /FOOTER -->
  <ng4-loading-spinner> </ng4-loading-spinner>
