<div class="section" *ngIf = "user">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div class="product-view">
                            <img *ngIf = 'user.profilePicture' src= {{user.profilePicture}} alt="">
                            <img *ngIf = '!user.profilePicture' src= "../assets/img/avatar.png" alt="">
                            <h2 class="product-name">{{user.name ? user.name : user.facebookId}}</h2>
                            <h2 class="product-name">FacebookId: {{user.facebookId}}</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li *ngFor = "let tab of tabs" [ngClass] = "{active: tab.active}" (click) = "changeTab(tab.tab)"><a data-toggle="tab" >{{tab.tab}}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in " [ngClass] = "{active: tabs[0].active}">
                                  <table class="shopping-cart-table table">
                                          <thead>
                                              <tr>
                                                <th>Thông tin</th>
                                                <th class="text-center">Giá</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor = "let product of user.products" >
                                                <td class="details">
                                                    <a >{{product.transactionType == 'Không có giao dịch' ||  !product.transactionType? transactionTypeDefault : product.transactionType}}</a>
                                                    <ul>
                                                        <li><span>Đường: {{product.street}}</span></li>
                                                        <li><span>Quận: {{product.district}}</span></li>
                                                        <li><span>Phường: {{product.ward}}</span></li>
                                                        <li><span>Thành phố: {{product.city}}</span></li>
                                                        <li><span>Diện tích: {{product.area}}</span></li>
                                                    </ul>
                                                </td>
                                                <td class="total text-center"><strong class="primary-color">{{product.price}}</strong></td>
                                            </tr>
                                        </tbody>
                                  </table>
                            </div>
                            <div id="tab2" class="tab-pane fade in " [ngClass] = "{active: tabs[1].active}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="product-reviews">
                                            <div class="single-review" *ngFor = 'let post of user.posts'>
                                                <div class="review-heading">
                                                    <div><a ><i class="fa fa-user-o"></i> {{user.name ? user.name : user.facebookId}}</a></div>
                                                    <!-- <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                                    <div class="review-rating pull-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div> -->
                                                </div>
                                                <div class="review-body">
                                                    <p>{{post.content}}</p>
                                                </div>
                                            </div>
                                            <!-- <ul class="reviews-pages">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane fade in " [ngClass] = "{active: tabs[2].active}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="product-reviews">
                                            <div class="single-review" *ngFor = 'let comment of user.comments'>
                                                <div class="review-heading">
                                                    <div><a ><i class="fa fa-user-o"></i> {{user.name ? user.name : user.facebookId}}</a></div>
                                                    <!-- <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                                    <div class="review-rating pull-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div> -->
                                                </div>
                                                <div class="review-body">
                                                    <p>{{comment.content}}</p>
                                                </div>
                                            </div>
                                            <!-- <ul class="reviews-pages">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab-pane fade in " [ngClass] = "{active: tabs[3].active}">
                                <table class="shopping-cart-table table">
                                      <thead>
                                          <tr>
                                              <th>Mục like</th>
                                              <th class="text-center">Số  lần like</th>
                                              <th class="text-right"></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần like bài đăng mua nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.like.likeBuyPosts}}</strong></td>
                                          </tr>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần like bài đăng bán nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.like.likeSellPosts}}</strong></td>
                                          </tr>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần like bài đăng thuê nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.like.likeRentPosts}}</strong></td>
                                          </tr>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần like bài đăng cho thuê nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.like.likeLeasePosts}}</strong></td>
                                              </tr>
                                      </tbody>
                                  </table>
                            </div>
                            <div id="tab5" class="tab-pane fade in " [ngClass] = "{active: tabs[4].active}">
                                <table class="shopping-cart-table table">
                                      <thead>
                                          <tr>
                                              <th>Mục tag</th>
                                              <th class="text-center">Số  lần được tag</th>
                                              <th class="text-right"></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần được tag vào bài đăng mua nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.tagged.taggedBuyPosts}}</strong></td>
                                          </tr>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần được tag vào bài đăng bán nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.tagged.taggedSellPosts}}</strong></td>
                                          </tr>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần được tag vào bài đăng thuê nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.tagged.taggedRentPosts}}</strong></td>
                                          </tr>
                                          <tr>
                                              <td class="details">
                                                  <a >Số lần được tag vào bài đăng cho thuê nhà</a>
                                              </td>
                                              <td class="total text-center"><strong class="primary-color">{{user.tagged.taggedLeasePosts}}</strong></td>
                                              </tr>
                                      </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /section -->
  
  
  