
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
.custom-radios div {
    display: inline-block;
}

.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.custom-radios label span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
}
.custom-radios label span img {
        opacity: 0;
        transition: all .3s ease;
        }

    .custom-radios input[type="radio"]:checked + label span img {
            opacity: 1;
        }
.product-tab  .tab-content .tab-details{
    text-align: center;
}
.product-name {
    text-align: center;
}